
.create-page{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("");
    background-repeat: no-repeat;
    
}

.create-survey-button{
    background-color: black;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 2.5vw;
    font-size: 2.5vh;
    border-radius: 15px;
}