.nav {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://storage.needpix.com/rsynced_images/background-2225785_1280.png")
}

nav button {
    background-color: rgb(201, 120, 0);
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 2.5vw;
    font-size: 2.5vh;
    border-radius: 15px;

} 

.nav-right {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: auto;
}

.burger-button {
    display: none;
}

.side-menu {
    background-color: rgb(48, 48, 48);
    color: white;
    height: 270px;
    width: 184px;
}

.drop-down {
    display: flex;
    justify-content: flex-end; 
}

.burger-button-1 {
    width: 70px;
    height: 70px;
  }

@media (max-width: 842px ) {
    .nav-buttons-1 {
        display: none;
    }
    .burger-button {
        display: block;
    }
}