.nav {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://storage.needpix.com/rsynced_images/background-2225785_1280.png")
}

nav button {
    background-color: rgb(201, 120, 0);
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 2.5vw;
    font-size: 2.5vh;
    border-radius: 15px;

} 

.nav-right {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    height: auto;
}
